extends layout

block append link
    title Profile
    link(href='/stylesheets/profile_style.css', rel='stylesheet', type='text/css')
    
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Frijole', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Nunito', rel='stylesheet', type='text/css')
  
  
block content
    .body
    .NavBar
      button#home Home
      button#mute Mute
    .profile
      table
        tr
          td User Id
          td#user_id #{user.id}
        tr
          td User Name
          td#username #{user.username}
        tr
          td Nick Name
          td#nickname #{user.nickname}
        tr
          td Change Nick Name
          td
            form(action='/profile/update/'+user.id, method='post')
              input#new_nickname(type='text', placeholder='Your new nickname', name='nickname')
              button.submit(type='submit')
            
        tr
          td Email
          td#email #{user.email}
        tr
          td Point
          td#point #{user.point}
        tr
          td Level
          td#level #{user.level}
